<ul class="social-media">
    {{ if .Site.Social.twitter }}
    <li><a href="https://twitter.com/{{ .Site.Social.twitter }}"><i class="fab fa-x-twitter fa-lg" aria-hidden="true"></i></a></li>
    {{ end }} {{ if .Site.Social.linkedin }}
    <li><a href="https://www.linkedin.com/in/{{ .Site.Social.linkedin }}"><i class="fab fa-linkedin fa-lg" aria-hidden="true"></i></a></li>
    {{ end }} {{ if .Site.Social.github }}
    <li><a href="https://github.com/{{ .Site.Social.github }}"><i class="fab fa-github fa-lg" aria-hidden="true"></i></a></li>
    {{ end }} {{ if .Site.Social.facebook }}
    <li><a href="https://www.facebook.com/{{ .Site.Social.facebook }}"><i class="fab fa-facebook fa-lg" aria-hidden="true"></i></a></li>
    {{ end }} {{ if .Site.Social.instagram }}
    <li><a href="https://instagram.com/{{ .Site.Social.instagram }}"><i class="fab fa-instagram fa-lg" aria-hidden="true"></i></a></li>
    {{ end }} {{ if .Site.Social.rss }}
    <li><a href="{{ .Site.Social.rss }}"><i class="fa-solid fa-rss fa-lg" aria-hidden="true"></i></a></li>
    {{ end }}
</ul>