body {
    font-family: Verdana, sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: #faf8f1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    color: #222;
}

a {
    color: #3273dc;
/*color: #ff5e6c;*/
}

.title {
    text-decoration: none;
    border: 0;
}

.title span {
    font-weight: 400;
}

/*
nav a {
margin-right: 10px;
}*/


/**
* Site title navigation
*/
.sitetitle-nav {
    width: 100%;
}
.sitetitle-nav a {
    padding: 14px 16px; 
}

.sitetitle-nav a.split {
    float: right;
}

/**
* Top navigation
*/
.topnav {
    overflow: hidden;
    background-color: transparent;
    width: 100%;
}

#site-title {
    float: left;
    margin-left: 0;
    padding-left: 0;
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    color: inherit;
    text-decoration: none;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.split {
    float: right;
}

.topnav a i {
    color: black;
}

.topnav a:first-child {
    display: none;
}

.topnav a:nth-child(2) {
    padding-left: 0;
}

.topnav a:hover {
    /*background-color: #ddd;*/
    color: #3273dc;
}

.topnav a i:hover {
    /*background-color: #ddd;*/
    color: #3273dc;
}

.topnav .social-media {
    display: none;
}

/*
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}*/

.topnav .icon {
    display: none;
}

.info-card {
    margin-top: 2em;
}

.info-card img {
    max-width: 150px;
    max-height: 100%;
}

@media screen and (min-width: 600px) {
    .info-card {
        display: flex;
        align-items: center;
        justify-content: center
    }
    .info-card .paragraph {
        padding-left: 2em;
    }
}

@media screen and (max-width: 600px) {
    .info-card {
        padding-left: 2em;
        padding-right: 2em;
    }
    .info-card .image {
        text-align: center;
        margin-top: 2em;
    }
    .info-card img {
        max-height: 150px;
        display: inline-block;
        border-radius: 50%;
    }
    .info-card .paragraph {
        margin-top: 1em;
    }
    body {
        padding-top: 0;
    }
    #site-header {
        padding-top: 0;
        margin-top: 0;
    }
    #site-title {
        display: none;
    }
    .topnav a:first-child {
        padding-left: 0;
        font-weight: bold;
        display: block;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        padding: 14px 16px;
    }
    .topnav.responsive a:not(.social-media-link) {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .social-media {
        display: block;
    }

    .topnav.responsive a.split.social-link-desktop {
        display: none;
    }
}

.featured-image-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
}

.featured-image-container .featured-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

textarea {
    width: 100%;
    font-size: 16px;
}

input {
    font-size: 16px;
}

content {
    line-height: 1.6;
}

table {
    width: 100%;
}

img {
    max-width: 100%;
}

code {
    padding: 2px 5px;
    background-color: #f2f2f2;
}

pre code {
    color: #222;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
    overflow-x: auto;
}

div.highlight pre {
    background-color: initial;
    color: initial;
}

div.highlight code {
    background-color: unset;
    color: unset;
}

blockquote {
    border-left: 1px solid #999;
    color: #222;
    padding-left: 20px;
    font-style: italic;
}

footer {
    padding: 25px;
    text-align: center;
}

.helptext {
    color: #777;
    font-size: small;
}

.errorlist {
    color: #eba613;
    font-size: small;
}

/* blog posts */
article h1 {
    font-size: 2em;
}

.post-content {
    line-height: 1.6;
}

.post-footer {
    padding: 0;
    text-align: left;
}

ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
}

ul.blog-posts li span {
    flex: 0 0 130px;
}

/*
ul.blog-posts li a:visited {
color: #8b6fcb;
}*/

/**
* Pagination
*/
.pagination {
    margin-top: 2em;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination li {
    display: inline;
}

.pagination a {
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination .active a {
    background-color: #3273dc;
    color: white;
}

.pagination a:hover {
    background-color: #333; /* Background color on hover */
}

.taxonomies-list {
    margin-top: 2em;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #ddd;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
        color: #eee;
    }

    a {
        color: #8cc2dd;
    }

    code {
        background-color: #777;
    }

    pre code {
        color: #ddd;
    }

    blockquote {
        color: #ccc;
    }

    textarea,
    input {
        background-color: #252525;
        color: #ddd;
    }

    .helptext {
        color: #aaa;
    }

    .topnav a {
        color: white;
    }

    .topnav a:hover {
        color: #8cc2dd;
    }

    .topnav a i {
        color: white;
    }

    .topnav a i:hover {
        color: #8cc2dd;
    }

    .pagination .active a {
        background-color: white;
        color: black;
    }
}


/* social media */
.social-media {
    list-style: none; /* Remove dots */
    padding: 0; /* Remove default padding */
    display: flex; /* Make the list horizontal */
    gap: 20px; /* Optional: Add space between items */
}

.social-media li {
    display: inline; /* Ensure list items are inline */
}

.social-media a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit color from parent */
}

.social-media a:hover {
    color: #8cc2dd; /* Optional: Change color on hover */
}

.blog-post-item a {
    text-decoration: none;
}
.blog-post-item a:hover {
    text-decoration: underline;
}
.blog-post-item time {
    font-size: 0.8em;
}
.blog-post-item h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-container ul li {
    margin-bottom: 0.5rem;
}


.footer-container .site-links,
.footer-container .privacy-links {
    flex: 1;
    min-width: 200px;
}

/**
* Image Slideshow Gallery
*/
.img-slideshow-gallery-container, 
.img-slideshow-gallery-container * {
  box-sizing: border-box !important;
}


.img-slideshow-gallery-container img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .img-slideshow-gallery-container {
    position: relative;
  }
  
  /* Hide the images by default */
  .img-slideshow-gallery-myslides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .img-slideshow-gallery-container .img-slideshow-gallery-demo-cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .img-slideshow-gallery-prev,
  .img-slideshow-gallery-next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .img-slideshow-gallery-next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .img-slideshow-gallery-prev:hover,
  .img-slideshow-gallery-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .img-slideshow-gallery-numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .img-slideshow-gallery-caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .img-slideshow-gallery-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .img-slideshow-gallery-column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .img-slideshow-gallery-container .img-slideshow-gallery-demo {
    opacity: 0.6;
  }
  
  .img-slideshow-gallery-container .active,
  .img-slideshow-gallery-container .img-slideshow-gallery-demo:hover {
    opacity: 1;
  }
  