<div class="footer-container">
<ul class="site-links">
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
</ul>

<ul class="privacy-links">
    <li><a href="{{ printf "%s" (i18n "privacy.privacy_policy_link") }}">{{ i18n "privacy.privacy_policy" }}</a></li>
    <li><a href="{{ printf "%s" (i18n "privacy.cookie_policy_link") }}">{{ i18n "privacy.cookie_policy" }}</a></li>
    <li><a class="manage-consent" href="#manage-consent">{{ i18n "privacy.manage_consent" }}</a></li>
    <li><a href="#" onclick="eraseCookie('consent-settings'); location.reload();">{{ i18n "privacy.reset_cookies" }}</a></li>
</ul>

</div>

<p>{{ .Site.Params.copyright | safeHTML }}</p>
