<div class="img-slideshow-gallery-container">
    {{ $length := len . }}
    {{ range $index, $image := .images }}
      <div class="img-slideshow-gallery-myslides fade">
        <div class="img-slideshow-gallery-numbertext">{{ add $index 1 }} / {{ $length }}</div>
        <img src="{{ $image.src }}" style="width:100%">
      </div>
    {{ end }}
  
    <!-- Next and previous buttons -->
    <a class="img-slideshow-gallery-prev">&#10094;</a>
    <a class="img-slideshow-gallery-next">&#10095;</a>

    <div class="img-slideshow-gallery-caption-container">
        <p>
        <span class="img-slideshow-gallery-caption"></span>
        <span class="img-slideshow-gallery-date"></span>
        </p>
    </div>

  <div class="img-slideshow-gallery-row">
    {{ range $index, $image := .images }}
    <div class="img-slideshow-gallery-column">
      <img class="img-slideshow-gallery-demo img-slideshow-gallery-demo-cursor" src="{{ $image.src }}" style="width:100%" onclick="currentSlide({{ add $index 1 }})" alt="{{ index $image.alt $.lang }}" data-date="{{ $image.date }}">
    </div>
    {{ end }}
  </div>

</div>

  