{{ define "main" }}

<div class="info-card">
  <div class="image">
    <img src="{{ site.Params.siteimage }}">
  </div>
  <div class="paragraph">
    {{ site.Params.bio | default (print `A personal blog by `
      site.Params.name) }}
  </div>
</div>

{{ .Content }}

{{ $latestPosts := first 3 (where .Site.RegularPages "Type" "blog") }}
{{ if $latestPosts}}
<h2>{{ i18n "latest_posts" }}:</h2>
{{ end }}
{{ range $latestPosts }}
    {{ partial "blog-post-item-latest.html" . }}
{{ end }}

{{ end }}
