{{ define "main" }}

<div class="info-card">
  <div class="image">
    <img src="{{ site.Params.siteimage }}">
  </div>
  <div class="paragraph">
    {{ site.Params.bio | default (print `A personal blog by `
      site.Params.name) }}
  </div>
</div>

{{ .Content }}

{{ $latestPosts := first 3 (where .Site.RegularPages "Type" "blog") }}
{{ if $latestPosts}}
<h2 class="featured-posts-title">
  <i class="fas fa-newspaper"></i>
  {{ i18n "latest_posts" }}
</h2>
{{ end }}
{{ range $latestPosts }}
    {{ partial "blog-post-item-featured.html" . }}
{{ end }}

{{ $favoritePosts := first 3 (where .Site.RegularPages "Params.favorite" true) }}
{{ if $favoritePosts }}
<h2 class="featured-posts-title">
  <i class="fas fa-star"></i>
  {{ i18n "favorite_posts" }}
</h2>
{{ end }}
{{ range $favoritePosts }}
  {{ partial "blog-post-item-featured.html" . }}
{{ end }}

{{ end }}
