{{ $blogroll := (index .Site.Data "blogroll") }}
{{ $lang := .Site.Language.Lang }}
{{ if $blogroll }}
<div class="blogroll">
        {{ $blogs := $blogroll.blogs}}
        {{ $blogs = sort $blogs (printf "%s.title" $lang) }}
        <ul>
        {{ range $blog := $blogs }}
            {{ $blogItem := index $blog $lang }}
            {{ if $blogItem }}
                {{ $post := index $blogItem.posts 0 }}
                <li>
                    <a href="{{ $blogItem.blog_url }}" target="_blank">
                        {{ if ne $blogItem.title $blogItem.author }}
                            {{ $blogItem.title }} ({{ $blogItem.author }})
                        {{ else }}
                            {{ $blogItem.title }}
                        {{ end }}
                    </a>
                    <ul>
                    <li>{{ i18n "post" }}: <a href="{{ $post.url }}" target="_blank">{{ $post.title }}</a></li>
                    <li>{{ i18n "categories" }}: {{ range $index, $category := $blogItem.categories }}{{ if gt $index 0 }}, {{ end }}{{ $category }}{{ end }}</li>
                    </ul>
                </li>
            {{ end }}
        {{ end }}
        </ul>
</div>
{{ end }}